# ignore all
*
# unignore files with extensions
!*.*
# unignore all dirs
!*/
### Above combination will ignore all files without extension

!Makefile
!LICENSE

# Binaries for programs and plugins
main
demo

*.exe
*.exe~
*.so
*.dylib
*.dll
*.dSYM

# Ignore binary output folders
bin/
assets/fonts

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# ENV
.env

# vweb and database
*.db
*.js
